// following the idea:
// -> pixel at the root;
// -> rem for components;
// -> em for text elements;
$my-font-size: 32px;

// to be used by transformY()
// when a button is pressed
$scale: 0.9;

// various radii
$r1: 10px;
$r2: 0px;
$r3: 0px;
$r4: 0px;

// the ellipses indicate an unknown number of paramenters
@mixin my-border-radius($radii...) {
  -webkit-border-radius: $radii;
     -moz-border-radius: $radii;
      -ms-border-radius: $radii;
          border-radius: $radii;
}

// remove outline of active buttons
button:focus {
  outline: 0;
}

.container {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 600px;
  font-size: $my-font-size;
  @include my-border-radius($r2);
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 6px #ccc;
     -moz-box-shadow: 10px 10px 6px #ccc;
          box-shadow: 10px 10px 6px #ccc;
}

.red-circle {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FC5651;
  z-index: 1;
}

.yellow-circle {
  position: absolute;
  top: 5px;
  left: 30px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FDBB3F;
  z-index: 1;
}

.green-circle {
  position: absolute;
  top: 5px;
  left: 55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #33C647;
  z-index: 1;
}

.display-panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 100px;
  background-color: #4C4C4C;
  @include my-border-radius($r2);
}

.display-result {
  position: absolute;
  right: 10px;
  bottom: 0;
  color: white;
  font-size: 2em;
  font-family: Helvetica;
  font-weight: 100;
}

.digits-panel {
  position: absolute;
  bottom: 0;
  width: 300px;
  height: 400px;
}

.digits-button {
  width: 100px;
  height: 100px;
  background-color: lightgray;
  @include my-border-radius($r2);
  border: 1px solid #646466;
  font-size: 1em;
}
.digits-button:active {
  // transform: scale($scale);
  background-color: gray;
}

.digits-button-double {
  width: 200px;
  height: 100px;
  background-color: lightgray;
  @include my-border-radius($r2);
  border: 1px solid #646466;
  font-size: 1em;
}
.digits-button-double:active {
  @extend .digits-button:active;
}

.math-ops-panel {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 500px;
  width: 100px;
  border-radius: 5px;
}

.math-ops-button {
  color: white!important;
  width: 100px;
  height: 100px;
  background-color: #F78F12;
  @include my-border-radius($r2);
  border: 1px solid #646466;
  font-size: 1.5em;
}
.math-ops-button:active {
  @extend .digits-button:active;
}

.misc-panel {
  position: absolute;
  left: 0;
  top: 100px;
  width: 300px;
  height: 100px;
}

.misc-ops-button {
  width: 100px;
  height: 100px;
  background-color: lightgray;
  @include my-border-radius($r2);
  border: 1px solid #646466;
  font-size: 1em;
}
.misc-ops-button:active {
  @extend .digits-button:active;
}

.decimal-point {
  position: absolute;
  left: 200px;
  bottom: 0;
  width: 100px;
  height: 100px;
  font-size: 1em;
}

.decimal-point-button {
  width: 100px;
  height: 100px;
  background-color: lightgray;
  @include my-border-radius($r2);
  border: 1px solid #646466;
  font-size: 1em;
}
.decimal-point-button:active {
  @extend .digits-button:active;
}
