* {
  box-sizing: border-box;
}

button {
  font-size: 2em;
}

button:focus {
  outline: 0;
}

.subContainer {
  height: 480px;
  width: 483.2px;
  min-width: 483.2px;
  margin: 0 auto;
  position: relative;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.center {
  display: block;
  position: relative;
  top: 45%;
  left: 45%;
}

.box, .circle, .cross, .r1c1, .r1c2, .r1c3, .r2c1, .r2c2, .r2c3, .r3c1, .r3c2, .r3c3 {
  width: 150px;
  height: 150px;
  float: left;
  margin: 5px;
  border-radius: 20px;
  background-color: gray;
}

.box:hover, .circle:hover, .cross:hover, .r1c1:hover, .r1c2:hover, .r1c3:hover, .r2c1:hover, .r2c2:hover, .r2c3:hover, .r3c1:hover, .r3c2:hover, .r3c3:hover {
  background-color: darkgrey;
}

.circle {
  border-radius: 50% !important;
  border-width: 20px;
  border-color: blue !important;
  border-style: solid !important;
  background: white !important;
}

.cross {
  background-color: white !important;
}

.cross:after {
  position: relative;
  top: 20%;
  left: 10%;
  content: "\274c";
  /* use the hex value here... */
  font-size: 120px;
  color: #FFF;
  line-height: 100px;
  text-align: center;
}
