// Variables
$boxW: 150px;
$boxH: $boxW;
$spacing: 5px;
$hoverColor: darkgrey;

* {
  box-sizing: border-box;
}

button {
  font-size: 2em;
}
button:focus {
  outline: 0;
}

.container {
  // border: 1px dashed black;
}

.subContainer {
  height: ($boxW + $spacing * 2) * 3;
  width: ($boxW + $spacing * 2) * 3.02;
  min-width: ($boxW + $spacing * 2) * 3.02;
  margin: 0 auto;
  position: relative;
  // border: 1px solid black;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.center {
  display: block;
  position: relative;
  top: 45%;
  left: 45%;
}

.box {
  width: $boxW;
  height: $boxH;
  float: left;
  margin: $spacing;
  border-radius: 20px;
  background-color: gray;
  &:hover {
    background-color: $hoverColor;
  }
}

.circle {
  @extend .box;
  border-radius: 50%!important;
  background-color: blue!important;
}
.circle:after {
  width: $boxW * 0.9;
  height: $boxH * 0.9;
  border-radius: 50%!important;
}

.cross {
  @extend .box;
  background-color: white!important;
}
.cross:after {
    position: relative;
    top: 20%;
    left: 20%;
    content: "\274c"; /* use the hex value here... */
    font-size: 100px;
    color: #FFF;
    line-height: 100px;
    text-align: center;
}

.r1c1 {
  @extend .box;
}
.r1c2 {
  @extend .box;
}
.r1c3 {
  @extend .box;
}

.r2c1 {
  @extend .box;
}
.r2c2 {
  @extend .box;
}
.r2c3 {
  @extend .box;
}

.r3c1 {
  @extend .box;
}
.r3c2 {
  @extend .box;
}
.r3c3 {
  @extend .box;
}
