<div id="11" class="r1c1" (click)="onClick($event)"></div>
<div id="12" class="r1c2" (click)="onClick($event)"></div>
<div id="13" class="r1c3" (click)="onClick($event)"></div>
<br>
<div id="21" class="r2c1" (click)="onClick($event)"></div>
<div id="22" class="r2c2" (click)="onClick($event)"></div>
<div id="23" class="r2c3" (click)="onClick($event)"></div>
<br>
<div id="31" class="r3c1" (click)="onClick($event)"></div>
<div id="32" class="r3c2" (click)="onClick($event)"></div>
<div id="33" class="r3c3" (click)="onClick($event)"></div>
